{%extends 'base.html'%}

{%block title%} {{ Proje.isim}} {% endblock%}

{% block content %}


    <div class="" >
        <div class="blocktext">
  
        <div class="blocktext">
            <div class="card-body">
            <h5 class="card-title">{{ Proje.isim }}</h5>
            <h5 class="card-title">{{ Proje.title }}</h5>
            <p class="card-text">{{ Proje.icerik|safe }}</p>
            <p class="card-text"><small class="text-muted">{{Proje.düzenlenme_tarihi|timesince }}</small></p>

            </div>
        </div>
        </div>
    </div>
    
    



      

{% endblock content %}
