        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Oyunlar, İletişim ve Giriş  </h5>
                  {% if request.user.is_authenticated %}
                  <p class="card-text">Eklemeler yapılacaktır</p>
                    {% else %}
                    <p class="card-text">Eklemeler yapılacaktır </p>
                  {%endif%}

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> <a href="{% url 'game_action' %}" style="color:#055D9E;">Sayi tahmin oyunu </a>  </li>
                  


                    {% if request.user.is_authenticated %}
                    <li class="list-group-item"> 
                    <a href="{%url 'sifre-degistir'%}"  style="color:#055D9E;" >Şifre Degistir</a>
                  </li>

                  <li  class="list-group-item">
                    <a href="{% url 'cikis' %}" style="color:#055D9E;" >Çıkış Yap</a>
                  </li>
                  {% else %}
                  <li class="list-group-item"> 
                    <a href="{%url 'iletisim'%}" style="color:#055D9E;" >İletisim</a>
                  </li>
                  <li class="list-group-item"> 
                    <a href="{%url 'giris'%}" style="color:#055D9E;" >Giriş Yap</a>
                  </li>
                  
                  <li class="list-group-item"> 
                    <a href="{%url 'kayit'%}" style="color:#055D9E;" >Kayıt Ol</a>
                  </li>
                  {%endif%}

                </ul>

              </div>
        </div>